name: 'RibbitXDB Viewer Dev Build'

on:
  push:
    branches:
      - "**"

env:
  PYTHON_VERSION: "3.12"

jobs:
  test:
    if: github.ref_name != 'main'
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt

      - name: Install linux QT deps
        if: runner.os == 'Linux'
        run: |
          ### REFERENCE: https://stackoverflow.com/questions/60692711/cant-create-python-qapplication-in-github-action
          sudo apt-get install -y xvfb libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 libxcb-xinput0 libxcb-xfixes0 libxcb-shape0 libglib2.0-0 libgl1-mesa-dev
          sudo apt-get install '^libxcb.*-dev' libx11-xcb-dev libglu1-mesa-dev libxrender-dev libxi-dev libxkbcommon-dev libxkbcommon-x11-dev
          sudo /usr/bin/Xvfb $DISPLAY -screen 0 1280x1024x24 &

      - name: Run tests
        run: pytest

      - name: Upload coverage reports
        uses: actions/upload-artifact@v4
        with:
          name: 'Coverage Report ${{ matrix.os }}'
          path: coverage/
          retention-days: 30