name: 'RibbitXDB Viewer Dev Build'

on:
  push:
    branches:
      - "**"

env:
  PYTHON_VERSION: "3.12"

jobs:
  test:
    if: github.ref_name != 'main'
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install linux QT deps
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            xvfb \
            libxkbcommon-x11-0 \
            libxcb-icccm4 \
            libxcb-image0 \
            libxcb-keysyms1 \
            libxcb-randr0 \
            libxcb-render-util0 \
            libxcb-xinerama0 \
            libxcb-xinput0 \
            libxcb-xfixes0 \
            libxcb-shape0 \
            libgl1-mesa-dev \
            libx11-xcb-dev \
            libglu1-mesa-dev \
            libxrender-dev \
            libxi-dev \
            libxkbcommon-dev \
            libegl1 \
            libdbus-1-3 \
            libfontconfig1 \
            libxcb-cursor0

      - name: Install python deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt

      - name: Run tests (Linux)
        if: runner.os == 'Linux'
        run: xvfb-run -a --server-args="-screen 0 1280x1024x24 -ac +extension GLX" pytest
        env:
          QT_QPA_PLATFORM: offscreen

      - name: Run tests (Non-Linux)
        if: runner.os != 'Linux'
        run: pytest

      - name: Upload coverage reports
        uses: actions/upload-artifact@v4
        with:
          name: 'Coverage Report ${{ matrix.os }}'
          path: coverage/
          retention-days: 30